  <div class="center jumbotron"><h1>Welcome to Group Our Transport App</h1>
    <h2>This is the home page for this Application </h2>
    <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>
