  <div class='home-cover'>
  <div class=" jumbotron">
  <span id="flash"><%= flash.notice %></span>
    <h1>Welcome to Group Our Transportation App</h1>
    <h2>Group and Track distances you covered using different means of transportation</h2>
  </div>
  <div>
    <%= link_to 'Log in', login_path, class: 'btn btn-lg btn login' %><br />
    <%= link_to 'Sign up now!', new_user_path, class: 'btn btn-lg sign-up' %>
  </div>
  </div>