<h1>Log In</h1>
<%= form_with url: login_path, class: 'login-page' do |f| %>
 <div>
   <%= f.label :username %>
   <%= f.text_field :username, placeholder: 'Enter your username' %>
 </div>
 <div>
   <%= f.submit 'Login' %>
 </div>
<% end %>