@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Proxima nova bold';
  src: url('/app/assets/fonts/FontsFree-Net-Proxima-Nova-Bold.otf');
  font-family: 'Proxima nova light';
  src: url('/app/assets/fonts/FontsFree-Net-Proxima-Nova-Light.otf');
}

/* App Cover */
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.home-cover {
  width: 90%;
  margin: 0 auto;
}

footer {
  height: 4rem;
  background-color: #3778c2;
  color: #fff;
  padding: 0 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer small {
  padding-top: 1.5rem;
  float: left;
  color: #fff;
  font-size: 0.9rem;
}

.footer-text {
  color: #fff;
}

.center {
  text-align: center;
}

.footer-nav {
  list-style: none;
  font-size: 1rem;
  display: flex;
  padding-top: 1.5rem;
  float: right;
}

.footer-nav li {
  padding-left: 2rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1 {
  text-align: center;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: #434b43;
  text-align: center;
  font-family: 'Proxima nova light', Georgia, 'Times New Roman', Times, serif;
}

.jumbotron {
  background-color: #fff;
  width: 100%;
  border: 3px solid #5fb523;
  border-radius: 12px;
  margin-top: 3rem;
  padding: 5rem 3rem 2rem 3rem;
  min-height: 20rem;
}

.jumbotron h1 {
  font-size: 2.8rem;
}

.jumbotron h2 {
  padding-top: 2rem;
  font-size: 2rem;
}

.login,
.sign-up {
  background-color: #5fb523;
  width: 100%;
  color: #fff;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: bold;
  height: 4rem;
  padding: 0.4rem;
  text-align: center;
}

.login {
  margin-top: 2rem;
}

.sign-up {
  margin-top: 2rem;
}

/* Profile Page */

.user-option-ul,
#set-user {
  list-style: none;
}

.profile-box {
  background-color: #3778c2;
  padding: 2rem;
  height: 100vh;
}

.circle-me {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 0.7rem;
}

.shape-icon {
  color: #fff;
  width: 5rem;
  height: 5rem;
}

.user-pic-box {
  height: 16rem;
  width: 100%;
  text-align: center;
}

.user-picture {
  color: #fff;
  font-size: 3rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
}

#profile-pic {
  margin: 0 auto;
}

.user-pic-box h4 {
  margin-top: 1rem;
  font-family: 'Proxima nova light', Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #fff;
}

.log-out {
  color: #fff;
  font-family: 'Proxima nova light', Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  height: 4rem;
  background-color: #c52f24;
  margin-top: 15rem;
  margin-bottom: 5rem;
  width: 100%;
  text-align: center;
}

.flash {
  min-height: 2rem;
  font-family: 'Proxima nova light', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  color: #c52f24;
}

.option-link {
  margin-top: 2rem;
}

.option-box {
  display: flex;
}

.option-box svg {
  margin-top: 1rem;
}

.center-link {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 2rem 0;
}

.user-option-li {
  color: #fff;
  margin-left: 1rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.6rem;
}

/* Transportation Log */

.trans-header {
  background-color: #3778c2;
  padding: 1rem;
  height: 10rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
}

.trans-head-one,
.trans-head-two {
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.bi-list,
.bi-search {
  margin-top: 0.5rem;
}

.trans-list-title {
  text-transform: uppercase;
}

.trans-head-three {
  display: flex;
  justify-content: space-between;
}

.to-profile {
  color: #fff;
  font-size: 1.6rem;
}

.bi-three-dots,
.bi-battery-half,
.bi-list,
.bi-search {
  font-size: 1.5rem;
}

#most-recent,
#most-ancient {
  font-size: 1.6rem;
}

#most-recent {
  color: #f2f2f2;
}

#most-ancient {
  color: #b3b3b3;
}

.sum_in_km {
  padding: 1rem;
  color: #434b54;
  background-color: #fff;
}

.total-sum,
.bold-distance,
.ext-sum,
.sum-box h2 {
  font-weight: bolder;
}

.sum-box h2 {
  font-size: 1.8rem;
}

.total-sum,
.ext-sum {
  font-size: 1.5rem;
}

.format_date {
  font-size: 1rem;
  font-weight: bold;
  color: #3778c2;
}

.sum-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#list-transportation {
  min-height: 35rem;
}

#list-transportation,
.set-group-index {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 1rem;
}

.set-group-index {
  min-height: 42rem;
}

.group-heading,
.group-name {
  font-size: 1.6rem;
}

thead tr {
  font-size: 1.2rem;
}

tbody tr {
  font-size: 1.2rem;
}

.row-box {
  background-color: #fff;
}

.table tr {
  border-bottom: #f2f2f2 15px solid;
}

.table-h3 {
  border: 3px solid #fff;
  color: #fff;
  padding: 1rem;
}

.table-green h3 {
  text-align: center;
  position: fixed;
  bottom: 3rem;
  left: 0;
  height: 8rem;
  width: 100%;
  background-color: #5fb523;
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
}

/* Sign Up and Login form */

.container-fluid {
  background-color: #f2f2f2;
  padding: 0;
}

.user-input,
.login-input {
  margin-top: 1.5rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
  height: 4rem;
  line-height: 1.5;
  font-size: 1.8rem;
}

.login-input {
  margin-top: 6rem;
}

.user-form-pic {
  height: 10rem;
  margin-top: 4rem;
  padding: 1.5rem;
  background-color: #fff;
  font-size: 1.8rem;
}

.user-form-pic h2 {
  text-align: left;
  font-size: 2rem;
}

.sign-up-header {
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
  background-color: #3778c2;
  padding: 1rem;
  height: 8rem;
}

.bi-arrow-left {
  padding-top: 1rem;
  font-size: 2rem;
  color: #fff;
}

.trans-head-two h2 {
  color: #fff;
}

#sign-up,
#login,
.new-transport {
  margin-top: 4rem;
  width: 100%;
  font-size: 2rem;
}

/* New Transportation and Group Forms */

.new-trans-form,
.login-form,
.regis-user-form {
  min-height: 55rem;
}

.span-t {
  font-size: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.new-group-form {
  margin-top: 4rem;
  padding: 1.5rem;
  margin-bottom: 4rem;
  background-color: #f2f2f2;
}

.new-group-form h4 {
  float: left;
  color: #434b54;
}

.form-input,
.group-text-input {
  height: 4rem;
  font-size: 2rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
}

.new-t-box {
  margin-top: 4rem;
}

#transport-form {
  display: flex;
  padding: 1.5rem;
}

#transport-form h2 {
  font-size: 2rem;
  padding: 0;
}

.text-input {
  width: 100%;
}

.list-group-members {
  background-color: #f2f2f2;
  padding: 1.5rem;
}

.group-head-name {
  text-transform: uppercase;
}

.creator-name {
  color: #3778c2;
}

.forgroup-new {
  background-color: #f2f2f2;
}

@media only screen and (min-width: 768px) {
  .jumbotron {
    min-height: 60rem;
    padding-top: 8rem;
  }

  .jumbotron h1 {
    font-size: 5rem;
  }

  .jumbotron h2 {
    font-size: 3rem;
    margin-top: 6rem;
  }

  .login,
  .sign-up {
    font-size: 2.5rem;
    height: 5rem;
  }

  footer {
    height: 5rem;
  }

  footer a {
    font-size: 2rem;
  }

  .sign-up-header {
    height: 12rem;
  }

  .md-size {
    font-size: 3rem;
  }

  .session-login {
    margin-top: 12rem;
  }

  .login-input,
  .user-input {
    height: 6rem;
    font-size: 3rem;
  }

  .user-form-pic {
    margin-top: 8rem;
    font-size: 3rem;
    height: 14rem;
  }

  .user-form {
    margin-top: 3rem;
  }

  .user-form-pic h2 {
    font-size: 3rem;
  }

  #login,
  #sign-up {
    height: 6rem;
    font-size: 3rem;
  }

  .user-pic-box h4 {
    font-size: 4rem;
  }

  .user-option-li {
    font-size: 3.4rem;
  }

  .circle-me {
    padding: 0.9rem;
  }

  .shape-icon {
    width: 8rem;
    height: 8rem;
  }

  .option-link {
    margin-left: 2rem;
  }

  .log-out {
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 992px) {
  .jumbotron {
    min-height: 40rem;
    padding-top: 4rem;
  }

  .jumbotron h1 {
    font-size: 4rem;
  }

  .jumbotron h2 {
    font-size: 2.5rem;
    margin-top: 6rem;
  }

  .login,
  .sign-up {
    font-size: 1.5rem;
    height: 3rem;
  }

  footer {
    height: 4rem;
  }

  footer a {
    font-size: 1.2rem;
  }

  footer a:hover {
    color: #5fb523;
    text-decoration: none;
  }

  .sign-up-header {
    height: 8rem;
  }

  .md-size {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .login-input,
  .user-input {
    height: 3.5rem;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
  }

  .user-form-pic {
    margin-top: 4rem;
    margin-left: 10%;
    font-size: 1.5rem;
    height: 8rem;
    width: 80%;
  }

  .user-form {
    margin-top: 3rem;
  }

  .user-form-pic h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  #login,
  #sign-up {
    height: 4rem;
    font-size: 1.5rem;
    width: 80%;
    margin-top: 5rem;
    margin-left: 10%;   
  }

  .user-pic-box h4 {
    font-size: 3rem;
  }

  .user-option-li {
    font-size: 3rem;
  }

  .circle-me {
    padding: 0.6rem;
  }

  .shape-icon {
    width: 6rem;
    height: 6rem;
  }

  .option-link {
    margin-left: 2rem;
  }

  .option-link a:hover {
    color: #fff;
    text-decoration: none;
  }

  .log-out {
    margin-top: 12rem;
    padding-top: 0.5rem;
  }

  .log-out:hover {
    color: #3778c2;
  }

  .new-trans-form,
  .login-form,
  .regis-user-form {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}
