@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Proxima nova bold';
  src: url('/app/assets/fonts/FontsFree-Net-Proxima-Nova-Bold.otf');
  font-family: 'Proxima nova light';
  src: url('/app/assets/fonts/FontsFree-Net-Proxima-Nova-Light.otf');
}

/* App Cover */

body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home-list {
  list-style: none;
  display: flex;
}

.jumbotron {
  background-color: #fff;
  width: 100%;
  border: 6px solid #5fb523;
  border-radius: 8px;
  margin-top: 2rem;
}

.home-cover {
  width: 90%;
  margin: 0 auto;
}

footer {
  height: 6rem;
  background-color: #3778c2;
  color: #fff;
  padding: 0 2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer small {
  padding-top: 1.3rem;
  float: left;
  color: #fff;
}

.footer-text {
  color: #fff;
}

.center {
  text-align: center;
}

.footer-nav {
  list-style: none;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.2rem;
}

.footer-nav li:hover {
  background-color: #fff;
  color: #434b43;
  padding: 0.6rem;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  text-align: center;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
  font-size: 2.8rem;
  padding: 2.5rem 0;
}

h2 {
  font-size: 2rem;
  color: #434b43;
  text-align: center;
  font-family: 'Proxima nova light', Georgia, 'Times New Roman', Times, serif;
}

.home-link {
  padding-right: 2rem;
  color: #fff;
  font-family: 'Proxima nova light', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.login,
.sign-up {
  background-color: #5fb523;
  width: 100%;
  color: #fff;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  height: 5rem;
  padding: 1rem;
  text-align: center;
}

.login {
  margin-top: 1rem;
}

.sign-up {
  margin-top: 2rem;
}

/* Profile Page */

.user-option-ul,
#set-user {
  list-style: none;
}

.user-picture {
  color: #fff;
}

.profile-box {
  background-color: #3778c2;
  padding: 0 3rem 3rem 3rem;
  height: 58rem;
  margin: 0;
}

.circle-me {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid #fff;
}

.shape-icon {
  color: #fff;
  max-width: 5rem;
  max-height: 5rem;
  padding: 1.2rem;
}

.user_info {
  height: 15rem;
  width: 15rem;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.user_info h4 {
  margin-top: 1rem;
  font-family: 'Proxima nova light', Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.log-out {
  color: #fff;
  font-family: 'Proxima nova light', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  width: 100%;
  height: 4rem;
  background-color: #c52f24;
  margin-top: 8rem;
}

.flash,
#flash {
  height: 1.5rem;
  font-family: 'Proxima nova light', Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  margin-left: 6.5rem;
  text-align: center;
}

.flash {
  color: #ff0;
}

#flash {
  color: #3778c2;
}

#profile-pic {
  margin-top: 2rem;
}

.option-box {
  display: flex;
}

.option-box svg {
  margin-top: 1.5rem;
}

.option-link {
  margin-top: 1.9rem;
}

.user-option-li {
  color: #fff;
  margin-left: 1.5rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 2rem;
}

/* Transportation Log */

.trans-header {
  background-color: #3778c2;
  padding: 2rem;
  height: 11rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
}

.trans-head-one,
.trans-head-two {
  display: flex;
  color: #fff;
}

.trans-head-one {
  justify-content: space-between;
}

.trans-head-two {
  justify-content: space-between;
}

.bi-list,
.bi-search {
  margin-top: 1rem;
}

.trans-list-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.trans-head-three {
  display: flex;
  justify-content: space-between;
}

.to-profile {
  color: #fff;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

#most-recent,
#most-ancient {
  font-size: 1.6rem;
}

#most-recent {
  color: #f2f2f2;
}

#most-ancient {
  color: #b3b3b3;
}

.sum_in_km {
  padding: 2rem;
  color: #434b54;
  background-color: #fff;
}

.total-sum,
.bold-distance,
.ext-sum {
  font-weight: bolder;
}

.total-sum,
.ext-sum {
  font-size: 2rem;
}

.sum-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#list-transportation,
.set-group-index {
  background-color: #f2f2f2;
  padding: 2rem;
  min-height: 27rem;
}

.row-box {
  background-color: #fff;
}

.table tr {
  border-bottom: #f2f2f2 10px solid;
}

.table-h3 {
  border: 1px solid #fff;
  color: #fff;
  padding: 1rem;
}

.table-green h3 {
  text-align: center;
  height: 8rem;
  width: 100%;
  background-color: #5fb523;
  padding-top: 3rem;
  font-size: 2rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
}

/* Sign Up and Login form */

.container-fluid {
  background-color: #f2f2f2;
}

.user-input {
  margin-top: 1rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
}

.login-input {
  margin-top: 10rem;
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
}

.user-form-pic {
  height: 8rem;
  margin-top: 3rem;
  padding: 2rem;
  background-color: #fff;
}

.sign-up-header {
  font-family: 'Proxima nova bold', Georgia, 'Times New Roman', Times, serif;
  background-color: #3778c2;
  padding: 1.1rem;
}

.bi-arrow-left {
  padding-top: 1rem;
  font-size: 1.8rem;
  color: #fff;
}

#sign-up,
#login,
.new-transport {
  margin-top: 2rem;
  width: 100%;
}

/* New Transportation */

.new-trans-form,
.login-form,
.regis-user-form {
  height: 50rem;
}

#create-new-trans {
  padding-top: 4rem;
}

.transport-form {
  margin-bottom: 2rem;
}

#transport-form,
.new-group-form {
  display: flex;
}

.new-group-form {
  padding-top: 4rem;
  margin-bottom: 2rem;
}

#transport-form {
  margin-bottom: 3rem;
}

.text-input {
  width: 100%;
}

.forgroup-new {
  min-height: 29rem;
  background-color: #f2f2f2;
  padding: 2rem;
}

@media (min-width: 768px) {
  #list-transportation {
    min-height: 31rem;
  }

  .profile-box {
    height: 62rem;
  }

  .set-group-index {
    min-height: 40rem;
  }

  #external-theight {
    min-height: 27rem;
  }

  .forgroup-new {
    min-height: 33.5rem;
  }  
}
