@import "bootstrap-sprockets";
@import "bootstrap";

@font-face { 
    font-family: 'Proxima nova bold'; src: url('/app/assets/fonts/FontsFree-Net-Proxima-Nova-Bold.otf');
    font-family: 'Proxima nova light'; src: url('/app/assets/fonts/FontsFree-Net-Proxima-Nova-Light.otf'); 
}
// #434b54  -- dark grey text color
// #3778c2 -- blue main color
// #5fb523 -- green second color
section {
 overflow: auto;
}
.navbar, .new-user {
  background-color: #3778c2;
}
.menu-item {
  color: #fff;
}
.jumbotron {
  background-color: #5fb523;
}
footer {
  margin-top: 30vh;
}

footer small {
  padding-top: 1.3rem;
  float: left;
}

textarea {
 resize: vertical;
}

.center{
  text-align: center;
}

.center h1 {
 margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
 line-height: 1;
}

h1 {
 font-size: 3em;
 letter-spacing: -2px;
 margin-bottom: 30px;
 text-align: center;
 font-family: 'Proxima nova bold';
}

h2 {
 font-size: 2.2em;
 letter-spacing: -1px;
 margin-bottom: 30px;
 text-align: center;
 font-family: 'Proxima nova light';
}

p {
 font-size: 1.1em;
 line-height: 1.7em;
}

#logo {
 float: left;
 margin-right: 10px;
 font-size: 1.7em;
 font-family: 'Proxima nova bold';
 color: #fff;
 text-transform: uppercase;
 letter-spacing: -1px;
 padding-top: 9px;
 font-weight: bold;
}

#logo:hover {
 color: #fff;
 text-decoration: none;
 background-color: #3778c2 ;
}

/*Sign in form*/

.new-user {
  width: 40%;
  margin: 0 auto;
  height: 23rem;
  padding: 2rem;
  border-radius: 5px;
}
.user-form {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}
.user-input {
  height: 3rem;
  border-radius: 2px;
  width: 60%;
  line-height: 5px;
  padding: 1rem;
  box-shadow: none;
}

.user-label, .action {
  font-family: 'Proxima nova light', Cambria;
  color: #fff;
  font-size: 2rem;
}

.sign-up {
  width: 100%;
  margin-top: 2rem;
  background-color: #3778c2;
  border-radius: 5px;
  padding: 0.5rem;
}

/* Login Form */

.session-login {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.session-login, .login {
  height: 4rem;
  background-color: #3778c2;
  font-family: 'Proxima nova bold';
  border-radius: 5px;
}

.login-page {
  margin: 0 auto; 
  width: 40%;
}

.login-input {
  width: 60%;
  font-size: 1.5rem;
}

.login-label, .login {
  color: #fff;
  font-size: 2rem;
}

.login {
  margin-top: 4rem;
  width: 100%;
  box-shadow: none;
  text-align: center;
}

// Transport Index
.sum_in_km {
  display: flex;
  justify-content: space-between;
}

.group-icon {
  width: 20%;
  height: 20%;
}
    