<% if @user.picture.attached? %>
    <div id='profile-pic' >
      <%= image_tag @user.picture.variant(resize_to_limit: [100, 100]), class: 'img-circle' %>
    </div>
<% else %>
      <%= link_to 'Add Picture', edit_user_path(@user), class: 'user-picture' %>
<% end %>