<footer>
  <small>
  <a href= '#' class='footer-text' >Group our transport app </a>
  by <a href= '#' class='footer-text'>Zubenna</a>
  </small>
  <nav>
  <ul class='nav navbar-nav navbar-right'>
    <li><%= link_to 'About', '#', class: 'footer-text' %></li>
    <li><%= link_to 'Contact', '#', class: 'footer-text' %></li>
    <li><%= link_to 'News', '#', class: 'footer-text' %></li>
  </ul>
  </nav>
</footer>