<footer class='footer'>
  <small>
  <a href= ''>Group our transport app </a>
  by <a href= '#'>Zubenna</a>
  </small>
  <nav>
  <ul class='nav navbar-nav navbar-right'>
    <li><%= link_to 'About', '#' %></li>
    <li><%= link_to 'Contact', '#' %></li>
    <li><a href=''>News</a></li>
  </ul>
  </nav>
</footer>