<ul>
<li><%= link_to 'All my transportations', '#' %> </li>
<li><%= link_to 'All my unclassified transportations', '#' %> </li>
<li><%= link_to 'Different means of transportations', '#' %> </li>
</ul>