<ul>
<li><%= link_to 'All my transportations', transportations_path %> </li>
<li><%= link_to 'All my unclassified transportations', users_path %> </li>
<li><%= link_to 'Different means of transportations', groups_path %> </li>
</ul>