<ul class='user-option-ul'>
<li><%= link_to 'All my transportations', transportations_path, class: 'user-option-li' %> </li>
<li><%= link_to 'All my ungrouped transportations', users_path, class: 'user-option-li' %> </li>
<li><%= link_to 'Different means of transportations', groups_path, class: 'user-option-li' %> </li>
</ul>

