  <ul>
    <li><%= link_to 'Account Settings', edit_user_path, class: 'set-user' %></li>
    <li><%= link_to 'Contact Travel Agencies', '#', class: 'set-user' %></li>
    <li><%= link_to 'Claim Promo', '#', class: 'set-user' %></li>
    <li><%= link_to 'Share Promo', '#',  class: 'set-user' %></li>
  </ul>